# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# Data
# We ignore the raw dataset because it is 100MB+ (GitHub limit)
# We DO NOT ignore processed data/models because they are tiny and needed for Streamlit Cloud deployment!
data/raw/*.csv

# TensorBoard logs (optional, usually ignored)
results/tb_logs/

# Internal Docs
docs/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

*.zip
*.png
take_snapshots.py